    <div class="row">
        <div class="col-12">
            <div class="small-section-tittle2 mb-45">
                <div class="ion">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         xmlns:xlink="http://www.w3.org/1999/xlink"
                         width="20px" height="12px">
                        <path fill-rule="evenodd" fill="rgb(27, 207, 107)"
                              d="M7.778,12.000 L12.222,12.000 L12.222,10.000 L7.778,10.000 L7.778,12.000 ZM-0.000,-0.000 L-0.000,2.000 L20.000,2.000 L20.000,-0.000 L-0.000,-0.000 ZM3.333,7.000 L16.667,7.000 L16.667,5.000 L3.333,5.000 L3.333,7.000 Z" />
                    </svg>
                </div>
                <h4>Filter Jobs</h4>
            </div>
        </div>
    </div>
    <!-- Job Category Listing start -->
    <div class="job-category-listing mb-50">
        @using (Html.BeginForm("Search", "Jobs", FormMethod.Post, new { @class = "navbar-form navbar-right", @role = "search" }))
        {

            <input type="text" name="strSearch" placeholder="Tìm kiếm" style="width:100%">
            <!-- single one -->
            <div class="single-listing">
                <div class="small-section-tittle2">
                    <h4>Job Category</h4>
                </div>
                <!-- Select job items start -->
                <div class="select-job-items2">

                    <select name="Category">
                        <option value="all">All Category</option>
                        @{
                            foreach (var item in ViewBag.Nganh)
                            {
                                <option value="@item.MaNganh">@item.TenNganh</option>

                            }
                        }

                    </select>
                </div>
                <!--  Select job items End-->
                <!-- select-Categories start -->
                <div class="select-Categories pt-80 pb-50">
                    <div class="small-section-tittle2">
                        <h4>Job Type</h4>
                    </div>
                    <label class="container">
                        Full Time
                        <input type="checkbox" name="JobType" value="Full time">
                        <span class="checkmark"></span>
                    </label>
                    <label class="container">
                        Part Time
                        <input type="checkbox" name="JobType" value="Part time">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <!-- select-Categories End -->
            </div>
            <!-- single two -->
            <div class="single-listing">
                <div class="small-section-tittle2">
                    <h4>Job Location</h4>
                </div>
                <!-- Select job items start -->
                <div class="select-job-items2">
                    <select name="Location">
                        <option value="all">All Location</option>
                        @{
                            foreach (var item in ViewBag.KhuVuc)
                            {
                                <option value="@item.MaKV">@item.TenKhuVuc</option>

                            }
                        }

                    </select>
                </div>
                <!--  Select job items End-->
                <!-- select-Categories start -->
                <div class="select-Categories pt-80 pb-50">
                    <aside class="left_widgets p_filter_widgets price_rangs_aside sidebar_box_shadow">
                        <div class="small-section-tittle2">
                            <h4>Experience Work</h4>
                        </div>
                        <div class="widgets_inner">
                            <div class="range_item">
                                <!-- <div id="slider-range"></div> -->
                                <input type="text" class="js-range-ex" value="" />
                                <div class="d-flex align-items-center">
                                    <div class="price_text">
                                        <p>Years :</p>
                                    </div>
                                    <div class="price_value d-flex justify-content-center">
                                        <input type="text" class="js-input-from-ex" name="ex-start" readonly />
                                        <span>to</span>
                                        <input type="text" class="js-input-to-ex" name="ex-end" readonly />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </aside>
                </div>
                <!-- select-Categories End -->
            </div>
            <!-- single three -->
            <div class="single-listing">
                <!-- Range Slider Start -->
                <aside class="left_widgets p_filter_widgets price_rangs_aside sidebar_box_shadow">
                    <div class="small-section-tittle2">
                        <h4>Filter Jobs</h4>
                    </div>
                    <div class="widgets_inner">
                        <div class="range_item">
                            <!-- <div id="slider-range"></div> -->
                            <input type="text" class="js-range-slider" value="" />
                            <div class="d-flex align-items-center">
                                <div class="price_text">
                                    <p>Salary :</p>
                                </div>
                                <div class="price_value d-flex justify-content-center">
                                    <input type="text" class="js-input-from" name="salary-start" readonly />
                                    <span>to</span>
                                    <input type="text" class="js-input-to" name="salary-end" readonly />
                                </div>
                            </div>
                        </div>
                    </div>
                </aside>
                <!-- Range Slider End -->
            </div>

            <div>
                <button type="submit" class="btn btn-default">Lọc</button>
            </div>
        }
    </div>
    <!-- Job Category Listing End -->
